@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
html {
    margin: 20px;
}

body {
    font-family: 'PT Mono', monospace;
    margin: 30px auto;
    width: 720px;
}

div {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

header p {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 140%;
}

header p em {
    font-size: 1em;
}

p.info {
    line-height: 130%;
    margin-top: 0px;
}

section h1 {
    margin-top: 2em;
    margin-bottom: 0.3em;
    ;
}

form {
    font-size: 1em;
    margin-top: 10px;
}

label {
    font-weight: 600;
}

button {
    font-family: 'PT Mono', monospace;
    font-weight: 600;
    margin: 3px 0px;
    font-size: 1em;
    color: rgb(60 30 60);
    background-color: rgba(255, 210, 255, 0.7);
    border-radius: 5px;
}

p.note {
    margin-top: 5px;
    font-size: 0.8em;
    margin-bottom: 10px;
    color: hsl(0 0% 40%);
}

footer {
    border-top: 1px dashed;
    margin-top: 3em;
}

footer h1 {
    font-size: 1.1em;
}

footer ul li {
    margin-bottom: 8px;
}

footer p {
    margin-top: 30px;
    text-align: center;
}


/* Styling the input slider. Code generated and copied from http://danielstern.ca/range.css/ */

input[type=range] {
    width: 150px;
    margin: 11px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(17, 11, 14, 0.3);
    border: 0;
    border-radius: 2.1px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -11px;
    width: 14px;
    height: 27px;
    background: rgba(255, 210, 255, 0.7);
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #20151b;
}

input[type=range]::-moz-range-track {
    background: rgba(17, 11, 14, 0.3);
    border: 0;
    border-radius: 2.1px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 27px;
    background: rgba(255, 210, 255, 0.7);
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
    width: 100%;
    height: 5px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #020101;
    border: 0;
    border-radius: 4.2px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(17, 11, 14, 0.3);
    border: 0;
    border-radius: 4.2px;
}

input[type=range]::-ms-thumb {
    width: 14px;
    height: 27px;
    background: rgba(255, 210, 255, 0.7);
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(17, 11, 14, 0.3);
}

input[type=range]:focus::-ms-fill-upper {
    background: #20151b;
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}